<h1>My Portfolio</h1>

<div class='search-area'>
  <h3 class="mt-4">Search Markets</h3>
  <%= form_tag search_stock_path, remote: true, method: :get do %>
  <div class="form-group row">
    <div class="col-sm-9 no-right-padding">
      <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol, Forex pair, or Crypto Currency Pair", autofocus: true, class: "form-control form-control-lg" %>
    </div>
    <div class="col-sm-3 no-left-padding">
      <%= button_tag type: :submit, class: "btn btn-success" do %>
      <%= fa_icon 'search 2x' %>
    <% end %>
  </div>
</div>
<% end %>
</div>
<div id="results"></div>
<div id="stock-list">
<% if !@tracked_stocks.empty? %>
<%= render 'stocks/list'%>
<% end %>
</div>
<script>
var action = '/refresh_table'
$(function () {
$(document).ready(function () {
  setInterval(function () {
    jQuery.ajax({url: action, type: "GET", dataType: "script"});
  }, 5000); // In every 5 seconds
});
});
$( document ).ready(function() {

  // hide spinner
  $(".spinner").hide();

  $('#update').click(function(){
    $(".spinner").show();
  });

});

</script>
<div class="row"><%= link_to('Update Prices Now', update_prices_now_path, remote: true, method: :get , id: "update", class: "btn btn-success logout-button col-2") %>
<div class="spinner spinner-border float-right text-success" role="status"></div>
</div>
<p>This may take a while as the free api key I'm using only allows 8 transcations a minute. Markets that are closed will not update. Assets prices are updated every 10 minutes.</p>
