<h1>My Portfolio</h1>

<div class='search-area'>
  <h3 class="mt-4">Search Markets</h3>
  <%= form_tag search_stock_path, remote: true, method: :get do %>
  <div class="form-group row">
    <div class="col-sm-9 no-right-padding">
      <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol, Forex pair, or Crypto Currency Pair", autofocus: true, class: "form-control form-control-lg" %>
    </div>
    <div class="col-sm-3 no-left-padding">
      <%= button_tag type: :submit, class: "btn btn-success" do %>
      <%= fa_icon 'search 2x' %>
    <% end %>
  </div>
</div>
<% end %>
</div>
<div id="results"></div>
<div id="stock-list">
<% if !@tracked_stocks.empty? %>
<%= render 'stocks/list'%>
<% end %>
</div>
<script>
  var action = '/refresh_table'
  $(function() {
    $(document).ready(function() {
      setInterval(function() {
        jQuery.ajax({
          url: action,
          type: "GET",
          dataType: "script"
        });
      }, 10000); // In every 10 seconds
    });
  });
</script>
<%= link_to('Update Prices Now', update_prices_now_path, remote: true, method: :get , class: "btn btn-success logout-button") %> <div id="spinner"></div>
<p>This may take a while as the free api key I'm using only allows 8 transcations a minute.
Markets that are closed will not update.  If all the prices show 0 that is because I exceed
my API request quota.</p>
